.App {
  text-align: center;
}

.App__main {
  padding: 5rem;
  background-color: #f9fafb;
  z-index: -1;
  min-height: 100vh;
}

@media screen and (max-width: 500px) {
  .App__main {
    padding: 5rem 1rem 1rem 1rem;
  }
}
