.container {
  margin: auto;
  width: 70%;
}

.section {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e4e3e0;
  &__item {
    margin-bottom: 1rem;
  }
  :last-child {
    margin-bottom: 0;
  }

  &__company {
    margin-left: 1rem;
    &--name {
      text-decoration: none;
      font-weight: bold;
    }
  }
  &__title {
    font-size: 1rem;
    font-weight: bold;
    &--close {
      display: flex;
      align-items: flex-end;
      color: #d81920;
    }
  }

  &__directApply {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: flex-end;
    color: #0a66c2;
    border-radius: 20px;
    border: 1px solid #0a66c2;
    font-size: 0.8rem;
    svg {
      margin-right: 0.2rem;
      font-size: 1rem;
    }
  }
  &__applied {
    padding: 0.3rem 1rem;
    color: black;
    border-radius: 30px;
    border: 1px solid #afb2b6;
    cursor: not-allowed;
    font-size: 0.8rem;
  }

  &__save,
  &__apply {
    color: #0a66c2;
    border-radius: 30px;
    border: 1px solid #0a66c2;
    padding: 0.3rem 1rem;
    transition: 0.2s all ease-in-out;
    font-size: 0.8rem;
    &:hover {
      background-color: #e2f0fe;
      box-shadow: inset 0px 0px 0px 1px #0a66c2;
    }
  }
}
