.messages {
  max-height: 20rem;
  overflow: auto;
  border-bottom: 1px solid #cecece;
  &__time {
    font-size: 0.8rem;
  }
}

.message {
  position: relative;
  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
  }
  &__text:hover + .message__delete {
    visibility: visible;
  }
  .message__delete:hover {
    visibility: visible;
  }
}
