.messageContainer {
  height: 100%;
  position: relative;
}

.messages {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  border-bottom: 1px solid #cecece;
  &__time {
    font-size: 0.8rem;
  }
}

.message {
  padding: 0 1rem;
  &__item {
    position: relative;
    margin: 0.5rem 0;
    margin-left: auto;
    width: fit-content;
    max-width: 70%;
    text-align: right;
    font-family: "Roboto", sans-serif;
    &--left {
      margin-left: 0;
      text-align: left;
    }
    &:hover > .message__delete {
      visibility: visible;
    }
  }
  &__delete {
    position: absolute;
    top: 0;
    right: 100%;
    visibility: hidden;
    &:hover {
      visibility: visible;
    }
  }
  &__typing {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ebebeb;
    font-size: 13px;
  }
}
