.jobList {
  &__container {
    max-height: 25rem;
    height: 25rem;
    overflow-y: auto;
  }
  &__main {
    padding: 1rem 2rem 0 1rem;
    text-align: left;
    cursor: pointer;
    &:hover {
      transition: 0.4s ease;
      background-color: #eff9fc;
    }
    &--active {
      background-color: #e5f5fc;
    }
  }
  &__item {
    margin-bottom: 1rem;
  }

  &__caption {
    font-size: 0.8rem;
  }
  &__applicantCount {
    &::before {
      content: "  \00b7  ";
    }
  }

  &__paginate {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }
}
