.talenthome {
  &__job {
    padding: 1rem;
    text-align: left;
    &--hide {
      display: none;
    }
  }
  &__name {
    font-size: 1.1rem;
    line-height: 1;
    font-weight: bold;
  }
  &__caption {
    font-size: 0.8rem;
  }
  &__jobstatus {
    &--open {
      color: green;
    }
    &--close {
      color: red;
    }
  }
  &__applicants {
    &::before {
      content: "  \00b7  ";
    }
  }
  &__postday {
    font-size: 0.9rem;
  }
}
