@import "./../../../utils/scss/mixins.scss";

.company {
  &__sections {
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e2e1de;
    &--left {
      padding: 1rem;
      text-align: left;
    }
    &--title {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  &__head {
    &__employees {
      &::before {
        content: "  \00B7  ";
      }
    }
    &__buttons {
      padding: 1rem 2rem;
      @include flexbox();
      justify-content: flex-start;

      button {
        @include flexbox();
        font-size: 1rem;
        border-radius: 30px;
        padding: 0.3rem 1rem;
      }
    }
    //buttons
    &__follow {
      color: #0a66c2;
      border: 1px solid #0a66c2;
      background-color: transparent;
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: inset 0px 0px 0px 1px #0a66c2;
        background-color: #e2f0fe;
      }
    }
    &__visit {
      text-decoration: none;
      font-weight: bold;
      color: white;
      background-color: #0a66c2;
    }
  }

  &__avatars {
    margin-bottom: 4rem;
    position: relative;
    &--background {
      width: 100%;
      height: 10rem;
      min-height: 10rem;
    }
    &--avatar {
      position: absolute;
      bottom: -20%;
      left: 2rem;
      width: 100px;
      height: 100px;
    }
  }

  &__introtext {
    text-align: left;
    padding-left: 2rem;
  }
}
