@import "../../../utils/scss/mixins.scss";

.company {
  &__container {
    width: 65%;
    margin: auto;
  }

  &__seemore {
    margin-top: 1rem;
    a {
      display: flex;
      font-weight: bold;
      span {
        margin-left: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .company {
    &__container {
      width: 100%;
      margin: auto;
    }
  }
}
