@import "../../../utils/scss/mixins.scss";

.company {
  &__container {
    width: 60%;
    margin: auto;
  }

  &__seemore {
    a {
      display: flex;
      text-decoration: none;
      font-weight: bold;
      span {
        margin-left: 0.5rem;
      }
    }
  }
}
