@import "../../utils/scss/mixins.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem 0 5rem;
  border-bottom: 1px solid #cfd8dc;
  background-color: #ffffff;
  z-index: 1000;

  &__container {
    @include flexbox(space-between, center);
  }

  &__left {
    @include flexbox(flex-start, center);
    width: 50%;
    text-align: left;
  }
  &__thumbnail {
    width: 4rem;
    height: 2rem;
    margin-right: 0.5rem;
    a {
      display: inline-block;
    }
    img {
      width: 100%;
    }
  }
  &__search {
    padding: 0.2rem 0.5rem;
    width: 50%;
    border: none;
    outline: none;
    border-bottom: 2px solid #0369d6;
    transition: 0.2s all ease;
    font-size: 1.1rem;
    &:focus {
      border-bottom: 1px solid #0053ac;
      box-shadow: 0 0 0 1.5px #5baaff;
    }
  }
  &__links {
    ul {
      list-style-type: none;
      @include flexbox;

      li {
        margin-right: 1rem;

        a,
        button {
          color: black;
          text-decoration: none;
          padding: 0.5rem;
          @include flexbox(space-between, center, column);
          &:hover {
            text-decoration: none;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--active {
      border-bottom: 2px solid #191919;
    }
  }

  &__hamburger {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding-left: 1rem;
    &__left {
      width: 30%;
    }
    &__search {
      width: 80%;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0 0.5rem 0 0.5rem;
    &__left {
      width: 50%;
    }
    &__links {
      ul {
        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3) {
          display: none;
        }
        li {
          margin-right: 0;
          span {
            display: none;
          }
        }
      }
    }
    &__hamburger {
      display: inline-block;
    }
  }
}
